input {
  display: block;
}

th,
td {
  padding: 5px 20px 10px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
}

.information {
  display: flex;
  margin: 0 5%;
}

.pic {
  min-width: 200px;
  box-sizing: border-box;
}

.title {
  margin-top: 30px;
  font-size: 20px;
}

.author {
  color: rgb(201, 134, 25);
  display: block;
}

.rating {
  display: flex;
  align-items: center;
}

.divider {
  border-bottom: 1px solid #adadad;
  padding: 5px;
  width: 80%;
}

.table {
  margin-top: 10px;
}

.annotation {
  margin: 5% 5% 0 2%;
  line-height: 20px;
}

.annotation span {
  display: inline-block;
  margin: 5% 0 3% 0;
  font-size: 15px;
  color: rgb(201, 134, 25);
}

.titleOfReview {
  margin: 20px 7%;
  font-size: 20px;
}

@media (max-width: 1178px) {
  .information {
    flex-wrap: wrap;
    justify-content: center;
  }

  .annotation {
    margin: 0 10%;
  }

  .titleOfReview {
    margin: 40px 13%;
  }

  .reviews {
    margin: 0% 13%;
  }
}

@media (max-width: 765px) {
  .pic {
    max-width: 90%;
  }

  .wrapper {
    max-width: 60%;
  }
}

/* **************** */
.rating_area {
  overflow: hidden;
  margin: 0 auto;
}
.rating_area:not(:checked) > input {
  display: none;
}
.rating_area:not(:checked) > label {
  float: right;
  padding: 0;
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}
.rating_area:not(:checked) > label:before {
  content: "★";
}
.rating_area > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
}
.rating_area:not(:checked) > label:hover,
.rating_area:not(:checked) > label:hover ~ label {
  color: gold;
}
.rating_area > input:checked + label:hover,
.rating_area > input:checked + label:hover ~ label,
.rating_area > input:checked ~ label:hover,
.rating_area > input:checked ~ label:hover ~ label,
.rating_area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}
.rate_area > label:active {
  position: relative;
}

.form {
  display: flex;
  flex-wrap: wrap;
  padding: 3%;

  justify-content: left;
}

.form[data-theme="def"] {
  background-color: #fff4c1;
}

.form[data-theme="green"] {
  background-color: #b1d598;
}

.form[data-theme="purple"] {
  background-color: #c0bbea;
}

.item {
  margin: 10px 30px 10px 10px;
}

.item label {
  display: block;
  margin: 2%;
}

.item input {
  border-radius: 5px;
  border: 1px;
  width: 250px;
  height: 30px;
}

h2 {
  margin: 30px;
}

.button {
  width: 100px;
  height: 30px;
  background-color: #ffd410;
  border-radius: 5px;
  border: 1px;
  margin: 2%;
}
